aiofiles==24.1.0
aiosqlite==0.20.0
asgiref==3.8.1
asyncua==1.1.5
cffi==1.16.0
comtypes==1.4.5
cryptography==42.0.8
customtkinter==5.2.2
darkdetect==0.8.0
Django==5.0.7
dnspython==2.6.1
freeopcua==0.90.6
lxml==5.2.2
numpy==2.0.0
opcua==0.98.13
opcua-client==0.8.4
opcua-webclient==1.0.0
opcua-widgets==0.6.1
packaging==24.1
paho-mqtt==2.1.0
pandas==2.2.2
pillow==10.4.0
pip-chill==1.0.3
psycopg2==2.9.9
pycparser==2.22
pyOpenSSL==24.1.0
pypiwin32==223
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-etcd==0.4.5
pyttsx3==2.90
pytz==2024.1
pywin32==306
six==1.16.0
sortedcontainers==2.4.0
sqlparse==0.5.1
tornado==6.4.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2